{% extends "base.html" %}
{% block title %}Salary Sheet Edit{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<!-- Header  -->
<div class="container-fluid" style="background-color: #ffffff;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-1 pb-2">
                    <form id="salaryForm" method="post"  action="" onsubmit="updateActionUrl()">
                        <div class="row justify-content-between">
                            <div class="col d-flex mt-1 align-items-center">
                                <span class="me-4 mt-2"><b>Salary Sheet</b></span>
                                <div class="form-outline text-start">
                                    {% set month_dict = {'sal001': 'January', 'sal002': 'February', 'sal003': 'March', 'sal004': 'April',
                                                        'sal005': 'May', 'sal006': 'June', 'sal007': 'July', 'sal008': 'August', 'sal009': 'September', 'sal0010': 'October',
                                                        'sal0011': 'November', 'sal0012': 'December'} %}
                                                    <input name="" id="forminput" class="form-control" readonly placeholder="{{month_dict[salid]}}">
                                </div>
                            </div>
                        
                            <div class="col mt-3">
                                <ul class="nav justify-content-end mb-2">
                                    <li class="nav-item me-4">
                                        <div class="dropdown">
                                            <button id="saveButton" class="btn border-1 btn-secondary" type="submit" aria-haspopup="true" aria-expanded="false">
                                                Save
                                            </button>
                                        </div>
                                    </li>
                                    <li class="nav-item me-4">
                                        <div class="dropdown">
                                            <button id="backButton" class="btn border-1 btn-secondary" type="button" aria-haspopup="true" aria-expanded="false">
                                                Back
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
            
                </div>
            </main>
        </div>
    </div>
</div>

<!-- Salary Data of Employees -->
<div class="container-fluid" style="background-color: #F4F5F7;">
    <div class="container-fluid p-3">












            

        <!-- Table Headings  -->
        <table class="table table-bordered" style="border: 2px solid black !important;">
            <thead class="text-center center align-baseline">
                <tr class="border-bottom" scope="row" style="border: 2px solid !important;">
                    <th scope="col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Employee Name
                    </th>
                    <th scope="col rwo-2" rowspan="2" class="align-middle" style="background-color: #DFE1E6;"> Leave
                        Taken
                        For LWP
                    </th>
                    <th scope="row" colspan="8" class="align-middle" style="background-color: #DCFDD9;">Earning</th>
                    <th scope="row col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Gross Salary
                    </th>
                    <th scope="col-6" colspan="6" class="align-middle" style="background-color: #FDD9DB;">Deduction</th>
                    <th scope="row-2 col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Net
                        Payable
                    </th>
                    <th rowspan="2" class="align-middle" style="background-color: #DFE1E6;"></th>
                </tr>
                <tr class="border-bottom" style="border:2px solid black !important;">
                    <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Basic</th>
                    <th scope="col" class="align-middle" style="background-color: #DCFDD9;">HRA</th>
                    <th scope="col" class="align-middle" style="background-color: #DCFDD9;">DA</th>
                    <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Other Allowance</th>
                    <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Incentive</th>
                    <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Arrears</th>
                    <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Outstanding Adjustments</th>
                    <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Statutory Bonus</th>
                    <th scope="col" class="align-middle" style="background-color: #FDD9DB;">EPFO</th>
                    <th scope="col" class="align-middle" style="background-color: #FDD9DB;">PT</th>
                    <th scope="col" class="align-middle" style="background-color: #FDD9DB;">TDS</th>
                    <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Leave Deduction</th>
                    <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Other Deduction</th>
                    <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Outstanding Adjustment</th>
                </tr>
            </thead>
                    {% for key, data in datas.items() %}
                    <tr class="ttr text-center">
                        <th scope="row">{{ data.employeeName }}</th>
                        <td>{{ data.lwp }}</td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_basic"
                                placeholder="{{ data.basic }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_hra"
                                placeholder="{{ data.hra }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_da"
                                placeholder="{{ data.da }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_otherAllowance"
                                placeholder="{{ data.otherAllowance }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_incentive"
                                placeholder="{{ data.incentive }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_arrears"
                                placeholder="{{ data.arrears }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_grsOutstandingAdjustment"
                                placeholder="{{ data.grsOutstandingAdjustment }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_statutoryBonus"
                                placeholder="{{ data.statutoryBonus }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_grossSalary"
                                placeholder="{{ data.grossSalary }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_epfo"
                                placeholder="{{ data.epfo }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_pt"
                                placeholder="{{ data.pt }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_tds"
                                placeholder="{{ data.tds }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_leaveDeduction"
                                placeholder="{{ data.leaveDeduction }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_otherDeduction"
                                placeholder="{{ data.otherDeduction }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_dedOutstandingAdjustment"
                                placeholder="{{ data.dedOutstandingAdjustment }}"></td>
                        <td><input type="text" class="form-control text-center" name="{{ key }}_netSalary"
                                placeholder="{{ data.netSalary }}"></td>
                        <td>
                            <a href="/salary_sheet/{{ key }}">
                                <button class="btn border-1 btn-secondary" type="button"
                                    style="color:#2F3990; border-color:#2F3990; background-color: #FFFFFF">
                                    Update
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
                </form>


    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
    document.getElementById("datetimepicker1").datetimepicker();


</script>
<script>
function updateActionUrl() {
    // Get the current URL
    var currentUrl = window.location.href;

    // Split the URL into its parts
    var urlParts = currentUrl.split('/');

    // Extract the username and salid values from the URL parts
    var username = urlParts[urlParts.length - 3];
    var salid = urlParts[urlParts.length - 1];
    console.log(username)
    console.log(salid)

    // Get the form element
    var form = document.getElementById('salaryForm');

    // Update the form's action URL
    form.action = `/save_edited_data?sal_id=${salid}&user_name=${username}`;
}

  </script>

<script>
    // Get the back button element
    const backButton = document.getElementById('backButton');

    // Extract the username and salid values from the current URL
    const urlParts = window.location.pathname.split('/');
    const username = urlParts[1];
    const salid = urlParts[3];

    // Add an event listener for the click event
    backButton.addEventListener('click', () => {
        // Redirect the user to the desired URL
        window.location.href = `/${username}/salarysheetview/${salid}`;
    });
</script>



{% endblock %}