{% extends "base.html" %}
{% block title %}Salary{% endblock %}
{% block head %}
{{ super() }}
<style>

    #yearDropdown {
      
      width:12rem;
      overflow-y: scroll;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px;
      background-color: #fff;
    }
    
    #yearDropdown option {
      background-color: #fff;
      color: #333;
      font-weight: bold;
      padding: 5px;
    }
    
    #yearDropdown option:hover {
      background-color: #f2f2f2;
    }
    
    #yearDropdown option:checked {
      background-color: #e0e0e0;
      font-style: italic;
    }
    
    #yearDropdown option::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      background-color: #333;
      border-radius: 50%;
    }
    
    #yearDropdown option:hover::before {
      background-color: #ccc;
    }
    
    #yearDropdown option:checked::before {
      background-color: #999;
    }
    
    #yearDropdown option:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

  </style>
 <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
    .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f9f9f9;
      padding: 20px;
      border: 1px solid #ddd;
    }
  </style>
   <script>
    $(function() {
      $("#datepicker1").datepicker();
      $("#datepicker2").datepicker();
    });

    function formatDate(date) {
      var formattedDate = "";
      var year = date.getFullYear();
      var month = String(date.getMonth() + 1).padStart(2, '0');
      var day = String(date.getDate()).padStart(2, '0');

      formattedDate = year + "-" + month + "-" + day;

      return formattedDate;
    }

    function submitForm() {
      var date1 = $("#datepicker1").datepicker("getDate");
      var date2 = $("#datepicker2").datepicker("getDate");
      var username = "{{ username }}"; // Replace with the actual username value

      if (date1 && date2) {
        var formattedDate1 = formatDate(date1);
        var formattedDate2 = formatDate(date2);
        var url = "/" + username + "/generatesalary/" + encodeURIComponent(formattedDate1) + "/" + encodeURIComponent(formattedDate2);
        console.log("URL:", url);
        $("#submitBtn").attr("href", url);
      } else {
        displayPopup("Please select both dates.");
      }
    }

    function displayPopup(message) {
      var popup = $("<div>").addClass("popup").text(message);
      $("body").append(popup);
      setTimeout(function() {
        popup.remove();
      }, 3000);
    }
  </script>
  </script>
  <style>
    .dropdown {
      display: inline-block;
    }

    .dropdown input {
      display: inline-block;
      margin-right: 10px;
      width: 150px;
            vertical-align: middle;

    }

    .dropdown #submitBtn {
      display: inline-block;
      vertical-align: middle;
    }
  </style>

{% endblock %}
{% block content %}
<!-- Header  -->
<div class="container-fluid" style="background-color: #ffffff;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-1">
                    <div class="row">
                        <div class="col-lg-5 col-sm-12 mt-2">
                            <ul class="nav justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page">
                                        <h5><b>Salary Sheet</b></h5>

                                    </a>
                                </li>
                                <li>
                                    <div class="form-outline text-start">
                                        {% set months_dict = {'001': 'January', '002': 'February', '003': 'March', '004': 'April', '005': 'May',
                                     '006': 'June', '007': 'July', '008': 'August', '009': 'September', '0010': 'October', '0011':
                                     'November',
                                     '0012': 'December'} %}
                                                             
                                     <select id="yearDropdown" class="form-control" style="width: 13rem;">
                                         {% set months_dict = {'001': 'January', '002': 'February', '003': 'March', '004': 'April', '005': 'May', '006': 'June', '007': 'July', '008': 'August', '009': 'September', '0010': 'October', '0011': 'November', '0012': 'December'} %}
                                       
                                         {% for year in years %}
                                        
                                        
                                            <!-- <option value="{{ month_value }}" onclick="window.location.href='url_for(salary_sheet_view,username,month_id)'" {% if months_dict[month_dict] == month_name %} selected {% endif %}>{{ months_dict[month_dict] }}</option> -->
                                            <option value="{{ year }}"  >{{ year }}</option>

                                         {% endfor %}
                                       </select>
                     
                                                        
                                       <script>
                                         // Set the default selected option
                                         var defaultYear = "{{current_year}}"; // Specify the default month here
                                       
                                         // Find the corresponding option and set it as selected
                                         var dropdown = document.getElementById("yearDropdown");
                                         for (var i = 0; i < dropdown.options.length; i++) {
                                           if (dropdown.options[i].text === defaultYear) {
                                             dropdown.selectedIndex = i;
                                             break;
                                           }
                                         }
                                       </script>
                                       <script>
                                         // Handle the selection change event
                                         document.getElementById("yearDropdown").addEventListener('change', function() {
                                           var selectedOption = this.options[this.selectedIndex];
                                           var selectedUrl = selectedOption.value;
                                           
                                           // Redirect to the selected URL
                                           window.location.href = selectedUrl;
                                         });
                                       </script>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-7 col-sm-12 mt-2">
                            <ul class="nav justify-content-end  end-0">

                                <!-- SALARY PERCENTAGE MODAL -->
                                <div class="modal " id="exampleModal1" tabindex="-1"
                                     aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog vh-100  modal-dialog-scrollable justify-content-end p-0 me-0 mt-0 mb-0">
                                        <div class="modal-content vh-100">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel1"> Salary Data </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form action="{{url_for('salary', username=username)}}" method="POST" id="salarydata">
                                                <div class="modal-body inline">
                                                    <label for="hrapercentage" class="col-3">HRA</label>
                                                    <input type="text" name="hrapercentage" id="hrapercentage" value=""
                                                           placeholder="{{salary_criteria['hrapercentage']}}"
                                                           class="form-control-sm">
                                                </div>
                                                <div class="modal-body inline">
                                                    <label for="dapercentage" class="col-3">DA</label>
                                                    <input type="text" name="dapercentage" id="dapercentage" value=""
                                                           placeholder="{{salary_criteria['dapercentage']}}"
                                                           class="form-control-sm">
                                                </div>
                                                <div class="modal-body inline">
                                                    <label for="deductionpercentage" class="col-3">Leave
                                                        Deduction </label>
                                                    <input type="text" name="deductionpercentage"
                                                           placeholder="{{salary_criteria['deductionpercentage']}}"
                                                           id="deductionpercentage" value="" class="form-control-sm">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" value="submit" class="btn btn-primary">Save
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <li class="nav-item me-2">
                                    <div class="dropdown">


  <input type="text" id="datepicker1" placeholder="Stating Date" class="form-control border-1">



  <input type="text" id="datepicker2"  placeholder="End Date" class="form-control border-1">

<a href="#" id="submitBtn" onclick="submitForm()">
      <button class="btn border-1 btn-secondary" type="button">
        Generate Salarysheet
      </button>
    </a>


                                    </div>
                                </li>
                                <li class="nav-item me-2">
                                    <div class="dropdown">
                                        <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal1"
                                                aria-expanded="false">
                                            Salary Percentage
                                        </button>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


<!-- Monthly Salary Data -->
<div class="container-fluid" style="background-color: #F4F5F7;">
    <div class="container-fluid p-3">


        <table class="table table-hover mt-4" data-sort-direction="asc">
            <!-- Table Heading -->
            <thead class="table-secondary" style="background-color:#DFE1E6;">

            <tr class="bg-dark">
                <th scope="col" onclick="sortTable(0)">Month</th>
                <th scope="col" onclick="sortTable(2)">SalaryID</th>
                <th scope="col" onclick="sortTable(1)">Gross Salary(₹)</th>
                <th scope="col" onclick="sortTable(3)">Total PT (₹)</th>
                <th scope="col" onclick="sortTable(4)">Total TDS (₹)</th>
                <th scope="col" onclick="sortTable(5)">Net Salary (₹)</th>
                <th scope="col" onclick="sortTable(6)">Status</th>
                <th scope="col" onclick="sortTable(7)">Action</th>
            </tr>

            </thead>
            <tr class="table-light">
                <tbody style="background-color:#ffffff;">

                <!-- Salary Data -->
                {% for i in data %}
                {% set month_dict = {'001': 'January', '002': 'February', '003': 'March', '004': 'April', '005': 'May',
                '006': 'June', '007': 'July', '008': 'August', '009': 'September', '0010': 'October', '0011':
                'November',
                '0012': 'December'} %}
                <td scope="col" id="demo">{{ month_dict[i.split("_")[0][3:]] }}</td>
                <td scope="col">{{ i }}</td>
                <td scope="col">{{ data[i]['grossSalary'] }}</td>
                <td scope="col">{{ data[i]['pt'] }}</td>
                <td scope="col">{{ data[i]['tds'] }}</td>
                <td scope="col">{{ data[i]['netSalary'] }}</td>
                <td scope="col" class="text-start">
                    <label class="status-label p-1" style="border-radius: 50px; align: center;     width: 100px;
    text-align: center;">{{salary_status[ month_dict[i.split("_")[0][3:]]]}}</label>
                </td>
               
                <td scope="col d-flex">
                    <ul class="nav ">
                   
                        <!-- Eye icon  -->
                        <li class="nav-item  d-inline"><a class="nav-link"
                                                          href="{{url_for('salary_sheet_view', username=username, salid=i)}}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        </li>
                             <!-- Download icon  -->
                        {% if salary_status[ month_dict[i.split("_")[0][3:]] ]=='Paid' %}
                        <li class="nav-item d-inline"><a class="nav-link" href="{{url_for('pdf_all', username=username, salid=i)}}">
                            <i class="fa fa-download"></i>
                        </a>
                        </li>
                        {% endif%}
                    </ul>

                </td>
            </tr>

            {% endfor %}

            <tbody>
        </table>

    </div>
</div>


<!--JavaScript For Salary Status Background Color-->

<script>

var statusLabels = document.getElementsByClassName("status-label");

for (var i = 0; i < statusLabels.length; i++) {
  var statusLabel = statusLabels[i];
  var status = statusLabel.textContent.trim();

  if (status === "Pending") {
    statusLabel.style.background = "#FF9128";
    statusLabel.style.color = "#FFF";
  } else if (status === "Approved") {
    statusLabel.style.background = "#7367F0";
    statusLabel.style.color = "#FFF";

  } else if (status === "Paid") {
    statusLabel.style.background = "#28C76F";
    statusLabel.style.color = "#FFF";

  }else if (status === "Inreview") {
    statusLabel.style.background = "#7367F0";
    statusLabel.style.color = "#FFF";
  }
   else if (status === "None") {
    statusLabel.style.background = "#DFE1E6";
  }
}

</script>



<!--JavaScript code for storage location-->

<script>

  function setStoragePath() {
  var path = window.prompt("Enter the path where you want to store files:", "");

  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/set-storage-path");
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.send(JSON.stringify({ path: path }));
}

</script>


<!--JavaScript For Sorting-->

<script>

  function sortTable(columnIndex) {
    const table = document.getElementById("table_salary");
    const rows = Array.from(table.rows).slice(1); // exclude the header row
    const direction = table.getAttribute("data-sort-direction") || "asc"; // get the current sort direction or set it to ascending by default

    // fix for sorting more than 10 rows:
    table.rows.length = table.rows.length;
    const rows = Array.from(table.rows).slice(1);

    rows.sort((row1, row2) => {
      const cell1 = row1.cells[columnIndex].textContent.toLowerCase();
      const cell2 = row2.cells[columnIndex].textContent.toLowerCase();
      return direction === "asc" ? cell1.localeCompare(cell2) : cell2.localeCompare(cell1);
    });

    // remove the sort icon from all the column headers
    table.querySelectorAll("th").forEach((th) => {
      // only remove the sort icon if it exists in the header text
      if (th.textContent.includes("▲") || th.textContent.includes("▼")) {
        th.textContent = th.textContent.replace("▲", "").replace("▼", "");
      }
    });

    // update the sort direction and icon for the clicked column header
    const icon = direction === "asc" ? "▲" : "▼";
    const th = table.querySelector(`th:nth-child(${columnIndex + 1})`);
    th.textContent += ` ${icon}`;
    table.setAttribute("data-sort-direction", direction === "asc" ? "desc" : "asc");

    // re-attach the sorted rows to the table
    rows.forEach((row) => table.tBodies[0].appendChild(row));
  }

</script>


<script>
document.addEventListener('DOMContentLoaded', () => {
    const uploadButton = document.getElementById('uploadButton');

    uploadButton.addEventListener('click', () => {
        const fileInput = document.createElement('input');
        fileInput.type = 'file';

        fileInput.addEventListener('change', () => {
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('file', file);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server
                console.log(data);
            })
            .catch(error => {
                // Handle any errors
                console.error(error);
            });
        });

        fileInput.click();
    });
});
</script>



{% endblock %}